.head{
    display: flex;
    justify-content: space-between;
}

.review{
    margin-top: 2rem;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    border-radius: 10px;
    border-color: aquamarine;

    .reviews{
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
       border-radius: 10px;
       border-color: aquamarine;
    }

    
}