.input-group{
    margin-bottom: 2rem;

    .label{
        margin-bottom: .8rem;
        font-weight: 600;
    }

    .label-range{
        margin-bottom: 2.5rem;
        font-weight: 600;
       
    }

}



