.datatable{
    height: 600px;
    padding: 20px;

    .cellWithStatus {
         padding: 5px;
         border-radius: 5px;

         &.true{
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
         }

         &.false{
            background-color: rgba(255, 0, 0, 0.05);
            color: crimson;
         }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted darkblue;

        }
        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted darkblue ;

        }
    }
}