.cover-photo{
    display: grid;
    grid-template-columns:10rem 1fr;
    height: 20rem;


    .left{
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        border-radius: 50%;
        width: 100%;
        height: auto;
      }

    }
    .right{
        background-color: rgb(193, 172, 172);
        color: aliceblue;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 1rem;

        h1{
            color: red;
    font-family: cursive;
    font-size: 3rem;
        }

        .name{
            font-size: 5rem;
        }
        .address{
            padding-left: 2rem;
        }
        .phone{
            padding-left: 2rem;
            margin-bottom: 2rem;
        }
        .right-button{

            .call{
                background-color: #fff;
                color: black;
                width: 10rem;
                margin-right: 2rem;
               border-style: none;
               height: 2rem;
            }
            .chat{
                background-color: #fff;
                color: black;
                width: 10rem;
                border-style: none;
                height: 2rem;
            }
        }

        .category{
         margin-top: 2rem;
         display: flex;
         gap: 0.5rem;
        }
    }
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav{
    margin-bottom: 1rem;
    margin-top: 1rem;
   
    font-size: 1.5rem;

    .link{
        color: blue;

        text-decoration: none;
    }
}




 

