.messenger {
    height: calc(100vh - 70px);
    display: flex;
    margin: 2rem;
    border:2rem;
    /* border-radius: 2rem;
    border-color: aqua; */
}

.chatMenu {
    flex: 2.5;
  }

  .chatMenuInput{
    width: 95%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #007ae3;
    height: 4rem;
    margin-left: 1rem;
    padding-left: 1rem;

    
  }

  .chatMenuInput::placeholder{
    padding-left: 2rem;
  }
  
  .chatBox {
    flex: 5.5;
  }

  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 30px;
    margin-left: 1rem;
    
  }



  .chatBoxTop {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 2rem;
    padding-right: 10px;


  }

  .chatName{
    display: flex;
    background-color: rgb(2, 2, 2);
    height: 3rem;
    margin-top: .75rem;
    align-items: center;
  }

  .chatName img{
    margin-right: 1rem;
    margin-left: 2rem;
    width:"3rem"; 
    height:"3rem";
    border-radius:"50%";
  }

  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .chatMessageInput{
    width: 86%;
    height: 2.5rem;
    padding: 10px;
    margin-left: 1rem;
    border-radius: 1rem;
  }

  .chatSubmitButton{
    
  }

  .chatOnline {
    flex: 3;
  }

  .chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10;
    height: 100%;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 15px 1px rgba(49,31,71,0.69);
-moz-box-shadow: 1px 1px 15px 1px rgba(49,31,71,0.69);
box-shadow: 1px 1px 15px 1px rgba(49,31,71,0.69);
padding-top: 1rem;
  }

  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgba(224,220,220);
    cursor: default;
    padding-left: 2rem;

    
  }
